<footer>
       
  <div class="container-footer-all">
   
       <div class="container-body">

           <div class="colum1">
               <h1>Mas informacion de la compañia</h1>

               <p>Esta compañia se dedica a la organizaciòn y elabarocion
                 de eventos recreativos para todo publico.
                 Nos dirigimos en especial al publico de la esena electronica
                 en colombia con el objetivo de impulsar el genero en el pais.
                 </p>

           </div>

           <div class="colum2">

               <h1>Redes Sociales</h1>

               <div class="row1">
                
                   <a href="https://www.facebook.com/Good-music-colombia-367251907449275/">
                    <img src="assets/img/fb.png" alt="FB" width="30" height="30">
                      </a>
                      <label>Siguenos en Facebook</label>
               </div>
               
               <div class="row1">
                <a href="https://www.instagram.com/good_music_colombia/">
                  <img src="assets/img/inst.png" alt="FB" width="30" height="30">
                  </a>
                   <label>Siguenos en Instagram</label>
               </div>

           </div>

           <div class="colum3">

               <h1>Informacion Contactos</h1>


               <div class="row2">
                   <img src="assets/img/smartphone.png">
                   <label>+57 3017635705</label>
               </div>

               <div class="row2">
                   <img src="assets/img/contact.png">
                    <label>enriquecwc@gmail.com</label>
               </div>

           </div>

       </div>
   
   </div>
   
   <div class="container-footer">
          <div class="footer">
               <div class="copyright">
                   © 2020 Todos los Derechos Reservados | <a href="">PAT-NET.SAS</a>
               </div>

               <div class="information">
                   <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
               </div>
           </div>

       </div>
   
</footer>